.component {
    margin-left: 15px;
    margin-top: 15px;
}

.contact-avatar {
    background: #979BA6;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    /*float: left;*/
}

.block {
    display: inline-flex;
}